@blue:#0D3B66;
@baby:#5CC8FF;
@black:#02111B;
@light:rgb(241,249,31);
@darkblue:#132d4c;

* {
  box-sizing: border-box;
}
body{
  display: grid;
  grid-template-columns: 20% 80% ;
}

header{
  grid-column: 1 e("/") 3;
}
aside{
  grid-column: 1 e("/") 2;
}
article{
  grid-column: 2 e("/") 3;
}
footer{
  grid-column: 1 e("/") 3;
  background: @black;
  color:#fff;
  min-height: 100px;
}
h2{
  font-family: 'Anton', ;
  font-weight: 800;
}

.logo{
  height: 40px;
}
.navul{
  display: flex;
  list-style: none;
  margin: 0 auto;
}

/* myimg */

.myimg{
  background: @darkblue;
  width: 100%;
}
.myimg img{
  background: #fff;
  padding: 30px;
  position: relative;
  top: 125px;
}
.spaseuimage{
  height: 125px;
}

/*education*/
.edusvg{
  margin: 0 10px 50px 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) ;
}
.edusvg svg{
  border-radius: 50%;
  background: @baby;
  fill: #fff;
  margin: 5px;
  padding: 5px;
  width: 40px;
  height: 40px;
}







/* sidebar */
.sidebar{
  position: fixed;
  top: 250px;
  left: 30px;
}
.sidebar a {
  display: block;
  text-decoration: none;
  font-size: 18px;
}
.sidebar a { color: #666; margin:0;text-transform:uppercase; }
.sidebar a:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.sidebar a:hover:after { transform: scaleX(1); }
/* owl-slider */

.swiper-container {
  background: @darkblue;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;

}

/* svg */
.skills {
  svg {
  fill:@blue;
  margin: 0 auto;
  transition: all 1s;
}
  .skill{
    margin: 0 auto;
    font-size: 75px;
    font-weight: 800;
    line-height: 200px;
    color:@blue;
    transition: all 1s;
  }
  h5{
    color:@blue;
    transition: all 1s;
  }
  .progress-bar{
    background:@blue;
    transition: all 1s;
  }
  .card{
    transition: all 1s;
  }
}

  .card:hover{
  background: @darkblue;

  svg {
  fill:@light;
}
.skill{
  color:@light;
}
  h5{
    color:@light;

  }
  .progress-bar{
    background:@light;
    color:@darkblue;
  }
}

/*footer*/
footer p a{
  color:#fff;
  text-decoration: none;
  margin: 10px;
  &:hover{
    color:#999;
    text-decoration: none;
  }
}





  @media (max-width: 750px){
    body{
      display: block;
    }
    aside , .sidebar{
      display: none;
    }
    .edu{
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .edusvg{
      display: block !important;
    }
  }
