/* myimg */
* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 20% 80% ;
}
header {
  grid-column: 1 / 3;
}
aside {
  grid-column: 1 / 2;
}
article {
  grid-column: 2 / 3;
}
footer {
  grid-column: 1 / 3;
  background: #02111b;
  color: #fff;
  min-height: 100px;
}
h2 {
  font-family: 'Anton';
  font-weight: 800;
}
.logo {
  height: 40px;
}
.navul {
  display: flex;
  list-style: none;
  margin: 0 auto;
}
/* myimg */
.myimg {
  background: #132d4c;
  width: 100%;
}
.myimg img {
  background: #fff;
  padding: 30px;
  position: relative;
  top: 125px;
}
.spaseuimage {
  height: 125px;
}
/*education*/
.edusvg {
  margin: 0 10px 50px 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.edusvg svg {
  border-radius: 50%;
  background: #5cc8ff;
  fill: #fff;
  margin: 5px;
  padding: 5px;
  width: 40px;
  height: 40px;
}
/* sidebar */
.sidebar {
  position: fixed;
  top: 250px;
  left: 30px;
}
.sidebar a {
  display: block;
  text-decoration: none;
  font-size: 18px;
}
.sidebar a {
  color: #666;
  margin: 0;
  text-transform: uppercase;
}
.sidebar a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scalex(0);
  transition: transform 250ms ease-in-out;
}
.sidebar a:hover:after {
  transform: scalex(1);
}
/* owl-slider */
.swiper-container {
  background: #132d4c;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}
/* svg */
.skills svg {
  fill: #0d3b66;
  margin: 0 auto;
  transition: all 1s;
}
.skills .skill {
  margin: 0 auto;
  font-size: 75px;
  font-weight: 800;
  line-height: 200px;
  color: #0d3b66;
  transition: all 1s;
}
.skills h5 {
  color: #0d3b66;
  transition: all 1s;
}
.skills .progress-bar {
  background: #0d3b66;
  transition: all 1s;
}
.skills .card {
  transition: all 1s;
}
.card:hover {
  background: #132d4c;
}
.card:hover svg {
  fill: #f1f91f;
}
.card:hover .skill {
  color: #f1f91f;
}
.card:hover h5 {
  color: #f1f91f;
}
.card:hover .progress-bar {
  background: #f1f91f;
  color: #132d4c;
}
/*footer*/
footer p a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}
footer p a:hover {
  color: #999;
  text-decoration: none;
}
@media (max-width: 750px) {
  body {
    display: block;
  }
  aside,
  .sidebar {
    display: none;
  }
  .edu {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .edusvg {
    display: block !important;
  }
}
